.container {
  display: flex;
  align-items: flex-start;
  height: 100%;
  padding-left: 20px;
  background-color: rgb(20, 19, 25);
  color: #e2e2e2;
}

.logo {
  height: 80px;
  width: 82px;
}

.navHeader {
  margin: 0;
  margin-top: 20px;
  padding: 35px;
  height: 95%;
  width: 250px;
  display: flex;
  position: fixed;
  background-color: rgb(28, 27, 34);
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  border-radius: 15px;
}
@media screen and (max-width: 765px) {
  .navHeader {
    display: none;
  }
  .mainContainer {
    margin-left: 0px;
  }
  .container {
    padding-left: 0px;
  }
  .nameHeading {
    font-size: 25px;
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 766px) {
  .mainContainer {
    margin-left: 270px;
  }
}
@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(0);
  }
}

.navItems {
  font-family: 'Comic Sans Ms';
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  gap: 40px;
  font-size: 15px;
  margin-bottom: 10px;
}

.sidemenuIcons {
  display: inline-flex;
  justify-content: last baseline;
  gap: 13px;
}

.description {
  text-align: left;
}
.Headers {
  padding: 10px;
  width: 100%;
  position: fixed;
  background-color: rgb(20, 19, 25);
}
.mainContainer {
  margin-top: 0;
}
.contentContainer {
  margin-top: 90px;
  margin-left: 30px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
}

.nameCard {
  background: #4088e0;
  height: 25vh;
  width: 90%;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.photo {
  height: 120px;
  width: 110px;
  border-radius: 50%;
}
.cardContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.cardContent {
  padding: 10px;
}
.cards {
  height: 220px;
  width: 280px;
  border-radius: 20px;
  background-color: rgb(28, 27, 34);
}

.cards:hover {
  outline-color: #4088e0;
  outline-style: double;
  outline-width: 5px;
  outline-offset: 5px;
}
.images {
  height: 110px;
  width: 280px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.customList {
  list-style: square;
  list-style-position: inside;
}
.mobileMenu {
  display: flex;
  flex-direction: column;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
